:root{
    --main-color: rgb(204,167,206);
    --secondary-color: rgb(213,245,227);
}

body{
    margin: 20px;
    font-family: 'Annie Use Your Telescope';
    font-size: 22px;
}

.header{
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    /*border: dotted #555;*/
    border-radius: 75px 75px 0px 0px;
    background-image: linear-gradient(var(--main-color), var(--secondary-color));
}

#header-text{
    text-shadow: 3px 3px 5px #080;
}

.col-left, .col-center, .col-right{
    box-shadow: 5px 5px 15px #DDD;
}

.col-left, .col-right{
    z-index: 1;
    background-color: var(--secondary-color);
}

.col-center{
    z-index: 0;
    background-color: var(--main-color);
}

.col-right{
    font-style: italic;
}

button:hover, #answerButton:hover, .usersAnswer{
    background-color: #4D4;
}

#answerBlock{
    width: 100%;
}

#answerBlock td, #answerBlock th, .usersAnswer{
    background-color: #8F8;
}

#answerBlock td:hover{
    background-color: #88F;
}

#answerButton{
    float: left;
    margin-right: 15px;
    background-color: #FD8;
}

#questionline{
    background-color: #E1E;
    font-weight: bold;
}

.usersAnswer{
    font-weight: bold;
}